.chart {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    background: white;
    border-radius: 5px;

    .configButton {
        position: fixed;
        background: transparent;
        border: 0;
        float: right;
        z-index: 1;

        &:hover {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
        }
    }

    .lineChart {
        position: relative;
    }
}