.homeContainer {
    display: block;
    float: right;

    width: 85%;
    
    background: rgb(233, 233, 233);

    .graph {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }
}