.homeContainer {
  display: block;

  background: #ccf1fd;

  .dashTop {
    height: 30vh;

    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .dashLineTop {
    display: flex;
    height: 33vh;

    .topLeft {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }

    .topRight {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }

  .dashLineBottom {
    display: flex;
    height: 33vh;

    .bottomLeft {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }

    .bottomRight {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }
}
