.indexPage {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(72.44deg, #000000, rgba(0, 0, 0, 0,) 100%), #29CDB5;
  mix-blend-mode: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loginFormContainer {
    background: white;
    border-radius: 15px;
    position: absolute;

    width: 60rem;
    height: 42rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .loginLogo {
      img {
        width: 25rem;
        filter: drop-shadow(1px 6px 4px rgba(0, 0, 0, 0.60));
      }
    }

    .loginData {
      width: 25rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-family: Roboto, sans-serif;
        color: #373331;

        font-size: 2rem;   
        font-weight: bold;
        
        margin-bottom: 1.5rem;

        filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.35));
      }

      .loginMethod {
        width: 310px;

        display: flex;
        justify-content: space-around;

        font-family: Roboto, sans-serif;

        input {
          align-items: center;
        }

      }

      .userPass {
        position: relative;

        display: flex;
        align-items: center;
        padding-left: 20px;

        width: 320px;
        height: 40px;
        background: #DFDFDF;
        border-radius: 25px;

        margin: 0.5rem;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        input {
          height: 90%;
          width: 85%;
          background: transparent;
          border: 0;

          padding: 0 10px 0 15px;

          font-family: Roboto, sans-serif;
          font-weight: 300;
        }

        input:focus {
          box-shadow: 0 0 0 0;
          border: none;
          outline: 0;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
      }

      .loginButton {
        position: relative;
        display: flex;
        justify-content: space-around;
        
        margin-top: 1rem;

        width: 320px;
  
        .saveButton {
          height: 2.1rem;
          width: 9rem;
          border-radius: 15px;
          border: 0;
  
          color: white;
          background: #6f48c9;
          filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.45)); 

          transition: filter 0.2s;
          transition: box-shadow 0.2s;

          &:hover:not(:disabled) {
            filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
            box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
          }
        }
  
        .enterButton {
          height: 2.1rem;
          width: 9rem;
          border-radius: 15px;
          border: 0;
  
          color: white;
          background: #04d361;

          transition: box-shadow 0.2s;

          &:disabled {
            background: #ef352b;
            cursor: default;
          }

          &:not(:disabled) {
            filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.40));
          }

          &:hover:not(:disabled) {
            filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
            box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
          }
        }
      }
    } 
  }

  .colapse {
    margin-top: 10px;
  }
}
