.header {
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  background: var(--background-primary);
  color: var(--text-color-primary);
}

.options {
  display: flex;
  padding: 5px;
}

.option {
  text-align: center;
  min-width: 90px;
  padding: 5px;
  margin: 5px;

  border-radius: 4px;
  background-color: var(--background-secundary);
  cursor: pointer;
}

.option:hover {
  background: var(--background-secundary-dark);
}
